body {
	overflow: hidden;
}

canvas {
	display: block;
  width:100%;
  height:100%;
  background-color: #000;  
}

#container { 
  display:block;   
  background-color:black;
  width: 100%;
  height: 100%;
  position: fixed;
  left:0px;
  top:0px;
}
@media only screen and (orientation:portrait){
  #container {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 100vw;
    width: 100vh;
  }

}
@media only screen and (orientation:landscape){
  #container {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
svg{
  width:100%;
  height:100%;
}
.arrow-up {
  display:inline;
  position:fixed;
  left:65px;
  bottom:118px;
  width:48px;
  height:48px;
  background-image: url('../images/up.png');
}

.arrow-down {
  display:inline;
  position:fixed;
  left:65px;
  bottom:45px;
  width:48px;
  height:48px;
  background-image: url('../images/down.png');
}

.arrow-right {
  display:inline;
  position:fixed;
  left:100px;
  bottom:82px;
  width:48px;
  height:48px;
  background-image: url('../images/right.png');  
}

.arrow-left {
  display:inline;
  position:fixed;
  left:30px;
  bottom:82px;
  width:48px;
  height:48px;
  background-image: url('../images/left.png');  
}

.btn-shoot{
  display:inline;
  position:fixed;
  right:75px;
  bottom:82px;
  width:48px;
  height:48px;
  background-image: url('../images/shoot.png'); 
}