body {
  overflow: auto;
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  color:#fff;
}

canvas {
  display: block;
  width:100%;
  height:100%;
  background-color: #000;  
}
.heading{
  font-weight: bold;
  font-size: 40px;
}
.container{
  width: 100%;
  height: 100%;
  background-color: red;
}
.inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10000;
}
.container .title{
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.container .ship{
  width: 40px;
  cursor: pointer;
}

.container .ship.current,.container .ship:hover.current{
  border: 2px solid #fff;
}
.container .ship:hover{
  border: 1px solid #fff;
}

.container .currentship{
  width: 70px;
  height:70px;
  padding: 10px;
  opacity: 1;
  float:none;
  margin: 0 auto;
}

.currentship img{ 
    -moz-animation:4s rotateRight infinite linear; 
    -webkit-animation:4s rotateRight infinite linear; 
}

@-moz-keyframes rotateRight{
    0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
    100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
    0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
    100%{ -webkit-transform:rotate(360deg); }
}
.foo{
  background-image: url('../images/animation.gif');
  height: 128px;
  background-repeat: no-repeat;
  background-position: center;
}
.play{
  width: 100px;
  height: 30px;
  background-color: seagreen;
  border-radius: 7px;
  border: 0;
  margin: 10px;
}